/***********************
        MOBILE 
***********************/
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
img {
  width: 100%;
}
#page-body.three-col,
#page-body.no-sidebar {
  background: transparent;
}
html body {
  color: #333333;
}
html body div#root div {
  text-align: center;
}
html body div#root div h2 {
  margin: 40px 0;
  font-size: 2.5em;
}
html body div#root div div.survey_list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 0 10px 30px 10px;
}
html body div#root div div.survey_list > * {
  border: 1px solid #CCC;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 11px -1px #DDD;
}
html body div#root div div#image_carousel div#image_container {
  position: relative;
}
html body div#root div div#image_carousel div#image_container p#count_display {
  position: absolute;
  right: 5px;
  top: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 5px;
  line-height: 1;
}
html body div#root div div#image_carousel img.arrow {
  width: auto;
  position: absolute;
  top: 50%;
  transition: opacity 0.3s ease-in;
}
html body div#root div div#image_carousel img.arrow:hover {
  opacity: 1;
  cursor: pointer;
}
html body div#root div div#image_carousel img#left_arrow {
  left: 15%;
}
html body div#root div div#image_carousel img#right_arrow {
  right: 15%;
}
html body div#root div div div.survey h3 {
  margin-bottom: 10px;
}
html body div#root div div div.survey div.nwidget {
  height: 100%;
}
html body div#root div div div.survey div.nwidget div.panel {
  height: 100%;
}
html body div#root div div div.survey div.questionnaire_list div.questionnaire {
  text-align: center;
}
html body div#root div div div.survey div.questionnaire_list div.questionnaire a {
  text-decoration: none;
  border: 1px solid #CCC;
  padding: 10px;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  color: #333333;
  transition: transform 0.3s;
}
html body div#root div div div.survey div.questionnaire_list div.questionnaire a:visited {
  color: #333333;
}
html body div#root div div div.survey div.questionnaire_list div.questionnaire a:hover {
  transform: scale(1.1);
}
html body footer h2 {
  margin: 40px 0 10px 0;
}
/***********************
        MIN-WIDTH 700PX
***********************/
@media screen and (min-width: 700px) {
  html body div#root div div.survey_list {
    grid-template-columns: repeat(2, 1fr);
  }
  html body div#root div div#image_carousel {
    text-align: center;
    position: relative;
    margin: 0 auto;
  }
  html body div#root div div#image_carousel div#image_container {
    display: inline-block;
  }
  html body div#root div div#image_carousel div#image_container img {
    border-radius: 5px;
    width: auto;
  }
  html body div#root div div#image_carousel img.arrow {
    width: auto;
    position: absolute;
    top: 50%;
    display: block;
  }
  html body div#root div div#image_carousel img#left_arrow {
    left: 15%;
  }
  html body div#root div div#image_carousel img#right_arrow {
    right: 15%;
  }
  html body footer h2 {
    margin: 40px 0 10px 0;
  }
}
/***********************
        MIN-WIDTH 1000PX
***********************/
@media screen and (min-width: 1000px) {
  html body div#root div div.survey_list {
    grid-template-columns: repeat(3, 1fr);
  }
  html body footer h2 {
    margin: 40px 0 10px 0;
  }
}
